* {
	box-sizing: border-box;
}

body {
	letter-spacing: 3px;
	color: #2B2B2B;
}

.navbar {
	background-color: #2c3e50;
	/*padding-top: 15px;*/
	/*padding-bottom: 15px;*/
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-navbar {
	display: flex;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/*flex-wrap: nowrap;*/
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.navbrand {
	font-size: 1.5em;
	color:#ffffff;
	/*height: 60px;*/
	padding: 10px;
	margin: auto auto auto 3em;
}

img {
	width: 100%;
	object-fit: cover;
}

.navbar-collapse {
	margin-left: auto;
}

.navbar-list {
	display: flex;
	margin-left: auto;
	margin-right: 1em;
	padding: 0px;
	/*padding: 1em;*/
}

.nav-item {
	padding-top: 0.5em;
	padding-left: 2em;
	text-align: center;
}

h3 {
	margin: 0px;
	color:#ffffff;
}

.nav-subheading {
	letter-spacing: 10px;
	font-size: .5em;
	color:#ffffff;
}

a {	
	text-decoration: none;
	display: block;
}

.Masthead {
	width: 100%;
	/*height: 600px;*/ /*下height10%會抓父層的「高」*/
	padding-top: 10%; /*margin-top和pandding-top，下height10%會抓父層的「寬」*/
	/*這樣高才會跟著裝置變化縮小成適合觀賞的高度*/
	overflow: hidden;
	background: center 0 url(https://cdn-images-1.medium.com/max/2600/1*rYCWrGsGdOXHeiJwPYti4w.png);
	
}

.intro-text {
	padding-top: 300px;
	display: block;
	text-align: center;
	font-size: 50px;
}

.text-center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	margin:0px;
}

h2 {
	font-size: 2em;
/*	font-family: MFinance HK;
*/	margin-top: 0;
}

h4 {
	color:#999;
	max-width: 50em;
	line-height: 1.5rem;
	margin-top: 0;
	margin-bottom: 40px;
}

.row {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
}

.col-work {
	width: 33.33%;
	padding-left: 15px;
	padding-right: 15px;
}

.ui-work {
	padding: 80px 0;
}

.title {
	margin-bottom: 0; 
	margin-top: 5px;
	font: 25px bold;
}

.detail {
	text-align: left;
}

.footer {
	padding: 15px 0;
	background-color: #2c3e50;
	color: #fff;
	text-align: center;
}

.col-work-footer {
	letter-spacing: 0px;
	width: 33%;
	margin: auto;
}

.list-social-buttons {
	padding: 0px;
	display: flex;
	justify-content: center;

}

.list-inline-item {
	width: 20%;
	list-style: none;
	margin-right: 15px;
}

.list-inline-item li {
	margin: 0 auto;
}