* {
    color: #1F1F1F;
}

.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    // position: absolute;

    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background: #1F1F1F;

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #FFF;
        text-align: center;
        font-size: 1rem;
        font-family: Alegreya Sans;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .right {
        display: none;
        align-items: center;
        gap: 3.5rem;

        white-space: nowrap;

        .nav {
            display: flex;
            align-items: flex-start;
            gap: 1rem;

            li {
                color: white;
            }
        }

        button {
            display: flex;
            padding: 0.75rem 1.5rem;
            align-items: center;
            gap: 0.5rem;

            border-radius: 3.3125rem;
            background: #F3BB4E;
        }
    }

    @media screen and (min-width:600px) {
        padding: 1rem 2rem;
        border-radius: 5.8125rem;
        background: #1F1F1F;

        left: 22.5rem;
        margin: 1.5rem 3rem;
        max-width: 1200px;

        .logo {
            display: flex;
            padding: 0.5rem 1rem;
            align-items: center;
            gap: 1.5rem;

            font-size: 1.5rem;

            img {
                width: 2.25rem;
                height: 2.25rem;
            }
        }

        .btn {
            display: none;
        }

        .right {
            display: flex;
        }
    }
}

.footer {
    .foot {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        background: #1F1F1F;

        .col8 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            align-self: stretch;

            h2 {
                color: #FFF;
                text-align: center;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p {
                color: #FFF;
                text-align: center;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8125rem;
            }
        }

        button {
            display: flex;
            padding: 0.75rem 2rem;
            align-items: center;
            gap: 0.5rem;

            border-radius: 3.3125rem;
            background: #F3BB4E;

            color: #1F1F1F;
            text-align: center;
            font-size: 1rem;
            font-family: Noto Sans CJK TC;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .social {
            display: flex;
            padding-bottom: 0px;
            justify-content: center;
            align-items: flex-start;
            gap: 0.625rem;
            align-self: stretch;
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        padding: 1rem 2rem;

        background: #1F1F1F;

        position: relative;

        p {
            color: #FFF;
            text-align: center;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                border-bottom: 1px solid white;
                top: 0;
                right: 0;
                z-index: 1;
            }
        }
    }

    @media screen and (min-width:600px) {
        display: flex;
        max-width: 120rem;
        flex-direction: column;
        align-items: center;

        .foot {
            display: flex;
            max-width: 1200px;
            padding: 4rem;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .col8 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;

                h2 {
                    text-align: center;
                    font-size: 5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    text-align: center;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 2.3125rem;
                }
            }
        }
    }

}