// @media screen and (min-width:600px) and (max-width:1200px) {}

// @media screen and (min-width:1200px) {}

* {
    box-sizing: border-box;
    font-family: Microsoft JhengHei, Alegreya Sans;
}

body {
    background: #EFEFEF;
}

header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;

    .container {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;

        position: fixed;

        background: #1F1F1F;

        .logo {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: #FFF;
            text-align: center;
            font-size: 1rem;
            font-family: Alegreya Sans;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .right {
            display: none;
            align-items: center;
            gap: 3.5rem;

            white-space: nowrap;

            .nav {
                display: flex;
                align-items: flex-start;
                gap: 1rem;

                li {
                    color: white;
                    padding: 1rem
                }
            }

            .button {
                display: flex;
                padding: 0.75rem 1.5rem;
                align-items: center;
                gap: 0.5rem;

                border-radius: 3.3125rem;
                background: #F3BB4E;
            }
        }

        @media screen and (min-width:600px) and (max-width:1200px) {
            padding: 1rem 2rem;
            border-radius: 5.8125rem;
            background: #1F1F1F;
            width: 100%;
            box-sizing: border-box;

            // margin: 1.5rem auto;
            right: 0;
            left: 0;
            max-width: 1200px;

            .logo {
                display: flex;
                padding: 0.5rem 1rem;
                align-items: center;
                gap: 1.5rem;

                font-size: 1.5rem;

                img {
                    width: 2.25rem;
                    height: 2.25rem;
                }
            }

            .btn {
                display: none;
            }

            .right {
                display: flex;
                gap: 1.5rem;
            }
        }

        @media screen and (min-width:1200px) {
            padding: 1rem 2rem;
            border-radius: 5.8125rem;
            background: #1F1F1F;
            width: 100%;

            margin: 1.5rem auto;
            right: 0;
            left: 0;
            max-width: 1200px;

            .logo {
                display: flex;
                padding: 0.5rem 1rem;
                align-items: center;
                gap: 1.5rem;

                font-size: 1.5rem;

                img {
                    width: 2.25rem;
                    height: 2.25rem;
                }
            }

            .btn {
                display: none;
            }

            .right {
                display: flex;
                gap: 1.5rem;
            }
        }
    }

    @media screen and (min-width:600px) and (max-width:1200px) {
        padding: 1rem 2rem;

        .container {
            position: initial;
        }
    }
}

footer {
    background: #1F1F1F;

    .foot {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        max-width: 1200px;

        .col8 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            align-self: stretch;

            h2 {
                color: #FFF;
                text-align: center;
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p {
                color: #FFF;
                text-align: center;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8125rem;
            }
        }

        .button {
            display: flex;
            padding: 0.75rem 2rem;
            align-items: center;
            gap: 0.5rem;

            border-radius: 3.3125rem;
            background: #F3BB4E;

            color: #1F1F1F;
            text-align: center;
            font-size: 1rem;
            font-family: Noto Sans CJK TC;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .social {
            display: flex;
            padding-bottom: 0px;
            justify-content: center;
            align-items: flex-start;
            gap: 0.625rem;
            align-self: stretch;
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        padding: 1rem 2rem;

        background: #1F1F1F;

        position: relative;

        p {
            color: #FFF;
            text-align: center;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                border-bottom: 1px solid white;
                top: 0;
                right: 0;
                z-index: 1;
            }
        }
    }

    @media screen and (min-width:600px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .foot {
            display: flex;
            padding: 4rem;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .col8 {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                h2 {
                    text-align: center;
                    font-size: 4rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    text-align: center;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 2.3125rem;
                }

                .subtitle {
                    display: flex;
                    padding: 0rem 2.5rem;
                    align-items: flex-start;
                    align-self: stretch;
                }
            }
        }
    }
}

main {
    padding-top: 4.5rem;

    @media screen and (min-width:600px) {
        padding-top: 6.75rem;
    }
}

section {
    display: flex;
    padding: 2.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    color: #1F1F1F;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            align-self: stretch;

            p {
                text-align: center;
                // font-size: 1rem;
                font-style: normal;
                line-height: 1.8125rem;
            }

            h1 {
                text-align: center;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            img {
                width: 100%;
            }
        }

        .button {
            display: flex;
            padding: 1rem 3rem;
            align-items: center;
            gap: 0.5rem;

            border-radius: 3.3125rem;
            background: #F3BB4E;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &.btn-line {
                display: flex;
                padding: 0.75rem 2rem;
                align-items: center;
                gap: 0.5rem;

                border-radius: 3.3125rem;
                border: 2px solid #F3BB4E;
                background: transparent;
                box-shadow: none;

                font-style: normal;
            }
        }

        .title {
            display: flex;
            flex-direction: column;

            text-align: center;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .col {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            align-self: stretch;
            line-height: 1.8125rem;

            .card {
                display: flex;
                padding: 1.5rem 0rem;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                border-radius: 1rem;
                background: #FFF;

                i {
                    width: 5rem;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 5rem;
                }

                .title {
                    text-align: center;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    padding: 0rem 1.5rem;

                    text-align: center;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.8125rem;

                    span {
                        color: rgba(128, 128, 128, 0.5);
                    }
                }
            }

            img {
                width: 100%;
            }
        }

        .col-4 {
            width: 100%;

            @media screen and (min-width:600px) and (max-width:1200px) {
                width: 40%;
            }

            @media screen and (min-width:1200px) {
                width: 40%;
            }
        }

        ul,
        ol {
            padding: 0 1rem;
            line-height: 1.8125rem;

            li {
                list-style: initial;
            }
        }

        .row {
            display: flex;
            align-items: flex-start;
            gap: 2rem;
            align-self: stretch;
            flex-direction: column;

            @media screen and (min-width:600px) and (max-width:1200px) {
                flex-direction: row;

                .col {
                    width: 50%;
                }
            }

            @media screen and (min-width:1200px) {
                flex-direction: row;

                .col {
                    width: 50%;
                }
            }
        }

        .d-wrap {
            flex-wrap: wrap;
        }

        .bottom-action {
            display: flex;
            padding: 2rem 0rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            align-self: stretch;
        }
    }

    @media screen and (min-width:600px) and (max-width:1200px) {
        display: flex;
        padding: 5rem 2rem;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            .top {

                p {
                    text-align: center;
                    // font-size: 1.25rem;
                    font-style: normal;
                    line-height: normal;
                }

                h1 {
                    text-align: center;
                    font-size: 5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .subtitle {
                    display: flex;
                    padding: 0rem 2.5rem;
                    align-items: flex-start;
                    gap: 0.625rem;
                    align-self: stretch;
                    line-height: 2.3125rem;
                }
            }

            .button {
                display: flex;
                padding: 1rem 3rem;
                align-items: center;
                gap: 0.5rem;

                border-radius: 3.3125rem;
                background: #F3BB4E;
                box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

                text-align: center;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                &.btn-line {
                    display: flex;
                    padding: 0.75rem 2rem;
                    align-items: center;
                    gap: 0.5rem;

                    border-radius: 3.3125rem;
                    border: 2px solid #F3BB4E;
                    background: transparent;
                    box-shadow: none;

                    font-style: normal;
                }
            }

            .title {
                display: flex;
                align-items: center;
                align-self: stretch;

                text-align: center;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .col {
                display: flex;
                flex-direction: row;
                // justify-content: flex-start;
                // align-items: center;
                align-self: stretch;
                line-height: 2.3125rem;
                align-content: flex-start;

                .card {
                    display: flex;
                    padding: 1.5rem 0rem;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    align-self: stretch;

                    border-radius: 1rem;
                    background: #FFF;

                    width: calc((100% - 32px) / 3);

                    i {
                        width: 6.25rem;
                        height: 6.25rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: 5rem;
                    }

                    .title {
                        text-align: center;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    p {
                        padding: 0rem 1.5rem;

                        text-align: center;
                        // font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 400;

                        span {
                            color: rgba(128, 128, 128, 0.5);
                        }
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            ul,
            ol {
                padding: 0 1rem;
                line-height: 2.3125rem;

                li {
                    list-style: initial;
                }
            }

            .bottom-action {
                display: flex;
                padding: 2rem 0rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                align-self: stretch;
            }
        }
    }

    @media screen and (min-width:1200px) {
        display: flex;
        padding: 5rem 2rem;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        line-height: 2.3125rem;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            .top {

                p {
                    text-align: center;
                    // font-size: 1.5rem;
                    font-style: normal;
                    line-height: normal;
                    line-height: 2.3125rem;
                }

                h1 {
                    text-align: center;
                    font-size: 5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .subtitle {
                    display: flex;
                    padding: 0rem 2.5rem;
                    align-items: flex-start;
                    gap: 0.625rem;
                    align-self: stretch;
                }
            }

            .button {
                display: flex;
                padding: 1rem 3rem;
                align-items: center;
                gap: 0.5rem;

                border-radius: 3.3125rem;
                background: #F3BB4E;
                box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

                text-align: center;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                &.btn-line {
                    display: flex;
                    padding: 0.75rem 2rem;
                    align-items: center;
                    gap: 0.5rem;

                    border-radius: 3.3125rem;
                    border: 2px solid #F3BB4E;
                    background: transparent;
                    box-shadow: none;

                    font-style: normal;
                }
            }

            .title {
                display: flex;
                align-items: center;
                align-self: stretch;

                text-align: center;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .col {
                display: flex;
                flex-direction: row;
                // justify-content: flex-start;
                // align-items: center;
                // gap: 0.5rem;
                align-self: stretch;
                line-height: 2.3125rem;
                align-content: flex-start;

                .card {
                    display: flex;
                    padding: 1.5rem 0rem;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    align-self: stretch;

                    border-radius: 1rem;
                    background: #FFF;

                    display: flex;
                    padding: 1.5rem 0rem;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    align-self: stretch;

                    border-radius: 1rem;
                    background: #FFF;

                    width: calc((100% - 64px) / 3);
                    // min-width: calc((100% - 64px) / 3);
                    // max-width: calc((100% - 64px) / 3);
                    // flex: 1;

                    // &:nth-child(3n) {
                    //     margin-right: 0;
                    // }

                    i {
                        width: 6.25rem;
                        height: 6.25rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: 5rem;
                    }

                    .title {
                        text-align: center;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    p {
                        padding: 0rem 1.5rem;

                        text-align: center;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.3125rem;

                        span {
                            color: rgba(128, 128, 128, 0.5);
                        }
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            ul,
            ol {
                padding: 0 1rem;
                line-height: 2.3125rem;

                li {
                    list-style: initial;
                }
            }

            .bottom-action {
                display: flex;
                padding: 2rem 0rem;
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                align-self: stretch;
            }
        }
    }
}


// Padding START
.p-t-0 {
    padding-top: 0 !important;
}

.g- {
    &xs {
        gap: 1.5rem;
    }

    &s {
        gap: 2rem;
    }

    &m {
        gap: 1rem;
    }

    &l {
        gap: 2rem;
    }

    @media screen and (min-width:600px) and (max-width:1200px) {
        &s {
            gap: 1rem;
        }
    }

    @media screen and (min-width:1200px) {
        &s {
            gap: 2rem;
        }

        &xs {
            gap: 2rem;
        }
    }
}

// Padding END


// Margin START
.m- {
    &t- {
        &m {
            margin-top: 1rem;
        }

        &l {
            margin-top: 2rem;
        }

        &xl {
            margin-top: 3rem;
        }
    }

    &b- {
        &m {
            margin-bottom: 1rem;
        }
    }

    @media screen and (min-width:600px) and (max-width:1200px) {
        &t- {
            &m {
                margin-top: 1rem;
            }
        }

        &b- {
            &m {
                margin-bottom: 1rem;
            }
        }
    }

    @media screen and (min-width:1200px) {
        &t- {
            &m {
                margin-top: 3rem;
            }
        }

        &b- {
            &m {
                margin-bottom: 3rem;
            }
        }
    }
}

// Margin END


// Shadow START
.sha {
    &-n {
        box-shadow: none;
    }

    &-s {
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    }
}

// Shadow END


// Decorate START
.line-s {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.fz- {
    &m {
        font-size: 1rem;
    }

    &l {
        font-size: 1.25rem;
    }

    &xl {
        font-size: 1.5rem;
    }

    @media screen and (min-width:600px) and (max-width:1200px) {
        &m {
            font-size: 1.5rem;
        }

        &l {
            font-size: 2.5rem;
        }
    }

    @media screen and (min-width:1200px) {
        &m {
            font-size: 1.5rem;
        }

        &l {
            font-size: 2.5rem;
        }
    }
}

.txt- {
    &l {
        text-align: left;
    }

    &c {
        text-align: center;
    }
}

.txCor- {
    &gr {
        color: #A7A7A7;
    }
}

.b {
    &-l {
        font-weight: 700;
    }
}

.bor-b {
    &::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        bottom: 0;
        background-color: #D9D9D9;

        @media screen and (min-width:1200px) {
            width: 100%;
        }
    }
}

img {
    border-radius: 8px;
    overflow: hidden;

    @media screen and (min-width:1200px) {
        border-radius: 16px;
    }
}

.btn-l {
    border: 2px solid #F3BB4E;
    background: transparent !important;
    box-shadow: none !important;
}

// Decorate END


// Flex START
.d-flex {
    display: flex;

    &-jc {
        justify-content: center;
    }

    &-ai {
        align-items: center;

        &-fst {
            align-items: flex-start;
        }
    }
}

.d-col {
    flex-direction: column !important;

    @media screen and (min-width:600px) and (max-width:1200px) {
        &-rev {
            flex-direction: row-reverse !important;
        }
    }

    @media screen and (min-width:1200px) {
        &-rev {
            flex-direction: row-reverse !important;
        }
    }

}

.d-grow {
    flex-grow: 1;
}

.w-fit {
    width: fit-content;
    display: flex;
}

// Flex END